
:root {--hBreak: 900px;--bBreak: 300px;--conBreak: 300px;--sideMinBreak:250px;--sideMaxBreak:400px;--hH: 90px;--cH: 100vh;--fH: 300px;}

/*
resets
*/

* {margin: 0;padding: 0;}
*, *::before, *::after {box-sizing: border-box;}
html, body {height: 100%;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
body,h1,h2,h3,h4,h5,h6,p,ol,ul {margin: 0;padding: 0;font-weight: normal;-webkit-font-smoothing: antialiased;}

/*
regular
*/
header, .parent, footer {width:99vw;margin:0 auto;}


/** header Section **/


header { height:90px;}

header,header section,header .a, header .b,header .b > ul ,header .b li >ul, header .a img ,header .a a { margin:0 auto;}
header section, header .a, header .b { width:95%;}

header, header .a ,header ul{ display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;}
header section { float:center;height:50px;padding:2px 16px;}
header .a, header .b { max-width:1000px;flex:1 1 auto;list-style:none;}
header .b { height:40px;}
header .b > ul { justify-content:space-evenly;list-style:none;z-index:5;}
header .b li {display:inline;flex:1;}
header .b a {display:block;padding:0.5em 1em;font-size:0.85em;font-weight:300;text-align:center;}
header .a img { height:100%;max-width:auto;}
header .a a { font-size:1.25em;font-weight:bold;text-decoration:none;}
header .b li:hover > ul { visibility:visible;opacity:1;border-radius:10px;}
header .b li >ul { list-style:none;visibility:hidden;opacity:0;position: absolute;left:0;right:0;z-index:10;top:80px;width:80%;min-width:200px;height:40px;}





header { background-color: purple;box-shadow: 0 0 25px 0 black;}
header .logo { }
header .a a { color: orange;}
header .a a:hover:active { color: lightblue;}
header nav a { background-color: purple;color: orange;}
header nav a:hover:active { color: lightgrey;background-color: orange;}
header nav li ul { background-color: purple;}
header nav li:hover > ul{box-shadow:10px 10px 40px rgba(0,0,0,0.5);}

.parent {display: flex;flex-wrap:wrap;justify-content: center;margin:0 auto;}
.child {flex: 1 1 var(--bBreak);padding:10px 20px;}
.content,.sidebar{height:70vh;}
.content{min-width :var(--conBreak);width: 80%;background-color:blue;}
.sidebar{min-width: var(--sideMinBreak);width:20%;max-width:var(--sideMaxBreak);background-color:red;}





footer img { height: 40px;width:auto;}
footer section ,footer p, footer .sa ul, footer form input { margin: 0 auto;}
footer section ,footer hr, footer form p{width:85%;}
footer section ,footer .sa ul, footer form { display: flex;justify-content: space-around;flex-wrap: wrap;}

footer section { align-items: flex-start;min-width:280px;padding:10px;}
footer div {flex: 1 1 auto; width:200px;margin-top:30px;}
footer div.a {flex: 2 2 auto; min-width: 280px;width: 28%;}
footer div + div {margin-left:60px;}
footer h3 {font-size:18px;text-transform: capitalize;font-weight:bold;height:40px;}
footer hr { margin:10px auto;height: 2px;}
footer p { height:70px;}
footer a { text-decoration: none;line-height:2rem;}
footer a:hover:active { text-decoration: underline;}
footer .ss ul {margin: 1em 0 .5em;}
footer .ss li {display: block;}
footer .ss a, footer .sa a { display: inline-block;font-size:16px;}
footer .sa ul {align-items:center;min-width:200px;width:50%;}
footer .sa li {display: inline-block;}
form { max-width:700px;text-align: center;}
form p {height:auto;}
form input { border: 0;max-width: 280px;width: 60%;min-width:200px;margin-top: 15px;border-radius:15px;line-height:2rem;flex: 1 1 200px;}
form input[type="email"], input[type="text"] { padding: 5px;}
form input[type="submit"] { cursor: pointer;padding: 10px 20px;}






footer { background-color: black;}
footer hr { background-color: purple;}
footer section { color: lightgrey;}
footer h3 { color: white;}
footer a { color: lightgrey;}
footer a:hover:active { color:  lightgrey;background-color: orange;}
input[type="submit"] {background-color: lightblue;color: red;}
