
:root {--hBreak: 900px;--bBreak: 300px;--conBreak: 300px;--sideMinBreak:250px;--sideMaxBreak:400px;--hH: 90px;--cH: 100vh;--fH: 300px;}

/*
resets
*/

* {margin: 0;padding: 0;}
*, *::before, *::after {box-sizing: border-box;}
html, body {height: 100%;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
body,h1,h2,h3,h4,h5,h6,p,ol,ul {margin: 0;padding: 0;font-weight: normal;-webkit-font-smoothing: antialiased;}

/*
regular
*/
header, .parent, footer {width:100vw;}


/** header Section **/
header {margin: 0 auto;height: 90px;}
header section {float:center;height: 40px;width: 95%;padding:10px 16px;margin: 0 auto;}
header nav { display: flex;justify-content: space-between;align-items: center;width: 90%;margin: 0 auto;flex-direction: row;height: 40px;text-align: center;min-width:250px;max-width:700px;list-style: none;}
header nav ul { list-style: none;display: flex;width: 90%;justify-content: space-evenly;z-index: 5;}
header nav a { display: block;font-size: 1.125em;font-weight: 300;text-align: center; flex: 1 1 150px; }
header .a img ,.a a{ vertical-align: middle; text-align: center;margin: 0 auto; }
header .a img { height:45px;float:left;}
header .a a { font-size:1.25em; font-weight:bold;text-decoration: none;float:right;}
header nav li:hover > ul { visibility:visible;opacity:1;text-decoration: underline;border-radius: 0px 0px 5px 5px;}
header nav li ul { list-style: none;visibility:hidden;opacity:0;position: absolute;left: 0;right: 0;margin: 0 auto;z-index: 10;top: 70px;min-width:200px;width:80vw;max-width:700px;height: 40px;}
header nav ul li { text-align: center;display: flex;justify-content: space-between;margin:auto;}




header { background-color: purple;box-shadow: 0 0 25px 0 black;}
header .logo { }
header .a a { color: orange;}
header .a a:hover:active { color: lightblue;}
header nav a { background-color: purple;color: orange;}
header nav a:hover:active { color: lightgrey;background-color: orange;}
header nav li ul { background-color: purple;}
header nav li:hover > ul{box-shadow:10px 10px 40px rgba(0,0,0,0.5);}

.parent {display: flex;flex-wrap:wrap;justify-content: center;margin:0 auto;}
.child {flex: 1 1 var(--bBreak);padding:10px 20px;}
.content,.sidebar{height:70vh;}
.content{min-width :var(--conBreak);width: 80%;background-color:blue;}
.sidebar{min-width: var(--sideMinBreak);width:20%;max-width:var(--sideMaxBreak);background-color:red;}


footer { margin: 0 auto;}

footer section { display: flex;flex-wrap:wrap;justify-content: space-between; margin: 0 auto; width:85%;}
footer li { overflow: hidden;text-align: left;line-height:2rem;}
footer div { flex: 1 1 280px; list-style:none;margin: 0 auto;padding: 20px;margin-top: 20px;}
footer ul { text-align: center; margin: 0 40px;min-width:150px;widht:50%;max-width:200px;}
footer div.a {min-width: 280px; width:70%; max-width: 350px;}
footer div.aa {width:90%; margin 0 auto;}
footer a { text-decoration: none;}
footer a:hover:active { text-decoration: underline;}
footer h3 { font-size: 15px;text-transform: capitalize;font-weight:bold;height:35px;min-width:200px;width:70%;max-width:250px;}
footer img {height: 45%;margin: auto;}
footer hr { width: 85%;margin:10px auto;height: 2px;}
footer p { width:90%;text-align: center;margin:0 auto;}

form { display: flex;flex-wrap: wrap;justify-content: space-between;max-width:700px;text-align: center;}
input { border: 0;max-width: 280px;width: 60%;min-width:200px;margin:0 auto;margin-top: 15px;border-radius:15px;line-height:2rem;}
input[type="email"], input[type="text"] { padding: 5px;}
input[type="submit"] { cursor: pointer;padding: 10px 20px;}


footer { background-color: black;}
footer hr { background-color: purple;}
footer section { color: lightgrey;}
footer h3 { color: white;}
footer a { color: lightgrey;}
footer a:hover:active { color:  lightgrey;background-color: orange;}
input[type="submit"] {background-color: lightblue;color: red;}
